@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

body {
    /* background-color: rgb(249, 249, 249); */
    background-color: #B51E8F;
    display: flex;
    font-family: 'Mochiy Pop One', sans-serif;
    height: 100vh;
    margin: 0;
}

.container {
    align-items: center;
    background-image: url(../img/image.jpeg);
    border: #B51E8F 40px solid;
    display: flex;
    flex: 1;
    flex-direction: column;
    /* justify-content: center; */
}


#countdown {
    align-items: center;
    background-color: #7E10FF;
    border-radius: 100%;
    color: white;
    display: flex;
    font-size: 100px;
    font-weight: bold;
    height: 10rem;
    justify-content: center;
    width: 10rem;
    margin: 10vh 0 0 0;
}

.questions {
    /* width: 100%; */
}

#question {
    color: white;
    font-size: 64px;
    font-weight: bold;
    text-align: center;
    text-shadow: black 0px 0px 10px;
    width: 80vw;
    margin: 2.5vh 0 10vh 0;
}

.answers {
    display: inline-flex;
    gap:50px;
}

.answer {
    background-color: lightgray;
    border: none;
    /* border: 2px solid white; */
    border-radius: 15px;
    box-shadow: black 0px 0px 10px;
    cursor: pointer;
    font-size: 32px;
    height: 250px;
    /* margin-bottom: 20vh; */
    width: 250px;
}

.correct-answer { background-color: rgb(89, 236, 89) !important }
.incorrect-answer { background-color: rgb(255, 61, 61) !important }

.answer-1 { background-color: rgb(255, 61, 61) }
.answer-2 { background-color: rgb(253, 253, 82) }
.answer-3 { background-color: rgb(61, 61, 253)}
